/*-------------------Slider----------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    /*max-width: 700px;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}


.slider__item,
.slider__item2,
.slider__item3{
    background-color: #9db135;
    flex: 0 0 100%;
    max-width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: rgba(255, 255, 255, 0.8);
}


.slide_img2{
    background: url("../img/two-lions.jpeg")  no-repeat 0 -6vw;
    background-size: 110%;
}

.slide_img3{
    background: url("../img/two-lions2.jpg")  no-repeat 0 -6vw;
    background-size: 110%;
}

.slide_img4{
    background: url("../img/monkeys2.jpeg")  no-repeat 0 -6vw;
    background-size: 110%;
}

.slide_h1{
    padding: 3vw 0 1vw 7vw;
    width: 70%;
}

.slide_h1_2{
    font-family: 'Noto Serif', serif;
    padding: 3vw 0 1vw 7vw;
    font-size: 4vw;
    width: 70%;
}

.slide_h1_3{
    font-family: 'Roboto Mono', monospace;
    padding: 3vw 0 1vw 7vw;
    line-height: 1;
    font-size: 4vw;
    width: 60%;
}

.slider__item p{
    font-size: 1.3vw;
    line-height: 1.5;
    padding-left: 7vw;
    width: 50%;
}

.slider__item2 p{
    font-family: 'Noto Serif', serif;
    font-size: 1.3vw;
    line-height: 1.5;
    padding-left: 7vw;
    width: 50%;
}
.slider__item3 p{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3vw;
    line-height: 1.3;
    padding-left: 7vw;
    width: 50%;
}

.slide3{
    color: #4d2f14;
}

.slide2_h1{
    padding-left: 15%;
    width: 70%;
}

.order-now,
.order-now2,
.order-now3{
    border: 1px solid white;
    color: white;
    display: block;
    height: 40px;
    width: 20vw;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin:2vw 0 0 7vw;
}

.order-now2{
    font-family: 'Noto Serif', serif;
    padding: 8px 0;
}
.order-now3{
    font-family: 'Roboto Mono', monospace;
    padding: 8px 0;
}

.order-now:hover,
.order-now2:hover,
.order-now3:hover{
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

/***************** Mobile 480 **********************/

@media (max-width:500px) and (min-width:375px){
    .slide_img{
        background: url("../img/02.png")  no-repeat 98px -30px;
        background-size: 152%;
    }

    .slide_img2{
        background: url("../img/two-lions.jpeg")  no-repeat -300px 80px;
        background-size: 250%;
    }

    .slide_img3{
        background: url("../img/two-lions2.jpg")  no-repeat -230px 110px;
        background-size: 240%;
    }

    .slide_img4{
        background: url("../img/monkeys2.jpeg")  no-repeat -240px 78px;
        background-size: 250%;
    }

    .slide_h1{
        padding: 250px 0 10px 50px;
        line-height: 1;
        font-size: 30px;
        margin-top: 600px;
        width: 80%;
    }
    .slide_h1_2{
        padding: 140px 0 10px 30px;
        line-height: 1;
        font-size: 24px;
        width: 80%;
    }
    .slide_h1_3{
        padding: 140px 0 10px 30px;
        line-height: 1;
        font-size: 24px;
        width: 80%;
    }

    .slider__item p{
        font-size: 12px;
        line-height: 1.5;
        padding-left: 50px;
        width: 70%;
    }
    .slider__item2 p{
        font-family: 'Noto Serif', serif;
        font-size: 12px;
        line-height: 1.5;
        padding-left: 7vw;
        width: 60%;
    }
    .slider__item3 p{
        font-family: 'Noto Serif', serif;
        font-size: 12px;
        line-height: 1.5;
        padding-left: 7vw;
        width: 60%;
    }

    .order-now,
    .order-now2{
        height: 40px;
        width: 200px;
        padding: 8px 0;
        margin:2vw 0 0 25px;
    }
     .order-now3{
         width: 250px;
     }

}

/***************** Ipad 768 **********************/
@media (max-width:1300px) and (min-width:768px){

    .slide_img2{
        background: url("../img/two-lions.jpeg")  no-repeat -90px 0;
        background-size: 150%;
    }

    .slide_img3{
        background: url("../img/two-lions2.jpg")  no-repeat -170px 0px;
        background-size: 150%;
    }

    .slide_img4{
        background: url("../img/monkeys2.jpeg")  no-repeat -170px 0px;
        background-size: 150%;
    }

    .slide_h1{
        padding: 50px 0 20px 50px;
        line-height: 1;
        font-size: 40px;
        width: 60%;
    }
    .slide_h1_2{
        padding: 50px 0 20px 50px;
        line-height: 1;
        font-size: 40px;
        width: 60%;
    }
    .slide_h1_3{
        padding: 50px 0 20px 50px;
        line-height: 1;
        font-size: 40px;
        width: 60%;
    }
    .slider__item p{
        font-size: 16px;
        line-height: 1.3;
        padding-left: 50px;
        width: 50%;
    }
    .slider__item2 p{
        font-size: 20px;
        line-height: 1.3;
        padding-left: 50px;
        width: 60%;
    }
    .slider__item3 p{
        font-size: 20px;
        line-height: 1.3;
        padding-left: 50px;
        width: 70%;
    }
    .order-now{
        height: 40px;
        width: 220px;
        padding: 10px 0;
        margin:2vw 0 0 50px;
    }
    .order-now2{
        height: 40px;
        width: 220px;
        padding: 10px;
        margin:2px 0 0 50px;
    }
    .order-now3{
        height: 40px;
        width: 260px;
        padding: 8px 10px 10px 10px;
        margin:15px 0 0 50px;
    }
}