@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


/*--- general styles -------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../images/bg.jpg") #353740  no-repeat 0 0;
    background-size: 100%;
    font-family: 'Roboto', 'Noto Nastaliq Urdu', Open sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper{
    margin: 0 auto;
    width: 70%;
}

/*--- header -------------------------*/

header{
    padding: 50px 0;
}

.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.item{
    color: white;
    display: flex;
    font-size: 16px;
    margin: 7px;
    flex-grow: 1;
}
.item-3{
    flex-grow: 4;
}

.item-1, .item-2, .item-4, .item-5{ padding: 20px;}

.item a{
    font-family: 'Roboto', 'Noto Nastaliq Urdu', Open sans-serif, sans-serif;
    color: #e79448;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.item a:hover{
    color: white;
}

.logo-block{
    background: url("../images/logo.png")  no-repeat 50% 50%;
    background-size: 93%;
    height: 60px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
}

.logo{
    height: 60px;
    display: block;
    cursor: pointer;
    width: 80%;
}

/*--- Content -------------------------*/

.img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block{

    margin: 10px;
    width: 30%;
    justify-content: center;
    height: 300px;
    align-items: stretch;
    position: relative;
}

.img_block1{
    background: url("../images/img_03.jpg")  no-repeat 0 0;
    background-size: 100%;
    flex-grow: 1;

}
.img_block2{
    background: url("../images/img_07.jpg")  no-repeat 0 0;
    background-size: 100%;
    flex-grow: 1;
}
.img_block3{
    background: url("../images/img_08.jpg")  no-repeat 0 0;
    background-size: 100%;
    flex-grow: 1;
}
.img_block4{
    background: url("../images/img_05.jpg")  no-repeat 0 0;
    background-size: 100%;
    flex-grow: 30;

}
.img_block5{
    background: url("../images/img_06.jpg")  no-repeat 0 0;
    background-size: 100%;
    flex-grow: 1;
}

.capture_txt{
    color: #20222c;
    font: 14px Playfair, Georgia, Serif;
    font-style: italic;
    background: rgba(255,255,255, 0.7);
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.capture_txt span{
    padding-left: 10px;
}


/*--- footer -------------------------*/

footer{
    color: #72758b;
    padding: 30px 0;
    text-align: center;
}


/* ------ Mobile ------------------------*/

/* media query for tablet and desktop styles. The css outside that media
query will affect mobile (unless you specify more media queries) */

/* ------ Pad (1024px)----------------------*/

@media (max-width: 1024px){
    .item  { flex-grow: 1;}
    .item-3{ flex-grow: 4;}
    .item-1, .item-2, .item-4, .item-5{ padding: 0;}

    header{
        padding: 20px 0;
    }
}

/* ------ Pad (768px)----------------------*/

@media (max-width: 768px){
    .img_block1{ flex-grow: 1;}
    .img_block2{ flex-grow: 1;}
    .img_block3{ flex-grow: 1;}
    .img_block4{ flex-grow: 5;}
    .img_block5{ flex-grow: 1;}

    .item  { flex-grow: 0;}
    .item-3{ flex-grow: 4;}
    .item-1, .item-2, .item-4, .item-5{ padding: 0;}

}

@media screen and (max-width: 768px) {
    .block{
        width: 25%;
    }
    .img_block4{
        flex-grow: 8;

    }
}

/* ------ Mobile (480px)----------------------*/

@media screen and (max-width: 480px) {
    .nav_container {
        flex-direction: column;
    }

    .item-3{
        flex-grow: 0;
    }

    .img-container{
        flex-direction: column;

    }
    .block{
        margin: 1%;
        padding: 1%;
        width: 90%;
    }

    .item-3{ order: -1;}
    .item-1{ order: 0;}
    .item-2{ order: 0;}
    .item-4{ order: 0;}
    .item-5{ order: 0;}

    .logo{
        height: 45px;
        width: 150px;
    }

    .logo-block{
        height: 45px;
        padding-top: 25px;
        width: 100%;
    }

    .block{
        margin: 0 0 10px 0;
        width: 100%;
    }

    header{
        padding: 30px 0;
    }
}